body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black; 
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2QyaDIzcWd0dDVuYWVlYzFxd2g1dWN3cDhpZTJ5MTMyYTRzZ3NkMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3vRnoppYtfEbemBO/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.navigation {
    background-color: mediumaquamarine;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid wheat;
    z-index: 100;
}

.navigation nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation nav ul li a:hover {
    border: 10px solid wheat;
    background-color: wheat;
    border-radius: 15px;
}

main {
    padding: 80px 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    background-color: black;
}

.esquerda, .direita {
    width: 48%;
    margin: 0;
}

.esquerda {
    text-align: center;
    margin: 30px 0;
}

.direita {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    margin: 150px 0;
}

.direita p {
    margin: 0;
    padding: 0;
}

.followme img {
    max-width: 100%;
    height: auto;
}

main h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    color: mediumaquamarine;
    margin-top: 0;
    margin-bottom: 20px;
}

.sobremim {
    text-align: center;
    font-size: 1.5rem;
    color: wheat;
}

.followme {
    text-align: center;
}

main p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
    align-items: center;
    margin: 0;
    padding: 8px 0;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    border-top: 3px solid wheat;
    padding-top: 15px;
}