body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black; 
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2QyaDIzcWd0dDVuYWVlYzFxd2g1dWN3cDhpZTJ5MTMyYTRzZ3NkMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3vRnoppYtfEbemBO/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.navigation {
    background-color: mediumaquamarine;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid wheat;
}

.navigation nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation nav ul li a:hover {
    border: 10px solid wheat;
    background-color: wheat;
    border-radius: 15px;
}

main {
    padding: 80px 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    flex-grow: 1;
 }

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 7rem;
    font-weight: 700;
    color: mediumaquamarine;
    margin: 0 0 20px 0;
    display: block;
}

.area {
    display: flex;
    justify-content: flex-start;
}

.contactos {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 35%;
    max-height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
}

.contactos h2 {
    font-size: 1.5rem;
    color: wheat;
    margin-top: 0;
    margin-bottom: 25px;
}

.contactos a{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.linkedin {
    display: flex;
    justify-items: left;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    background-color: wheat;
    max-width: 135px;
}

.linkedin:hover{
    color: black;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.linkedin:active{
    background-color: rgb(158, 143, 115);
    transform: scale(0.99);
}

.github {
    display: flex;
    justify-items: left;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    background-color: wheat;
    max-width: 135px;
}

.github:hover{
    color: black;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.github:active{
    background-color: rgb(158, 143, 115);
    transform: scale(0.99);
}

.formulario {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 20px;
    padding: 15px;
}

.formulario h2 {
    font-size: 1.5rem;
    color: wheat;
    margin-top: 0;
    margin-bottom: 25px;
}

.email,
.name,
.context,
.description {
    padding-bottom: 20px;
}

.formulario label {
    font-size: 1.2rem;
    font-weight: bold;
    color: wheat;
}

.formulario input {
    font-size: 1.2rem;
    background-color: wheat;
    box-sizing: border-box;
    width: 100%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: wheat;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.submit {
    background-color: wheat;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    color: black;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.submit:active {
  background-color: rgb(158, 143, 115);
  transform: scale(0.99);
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    border-top: 3px solid wheat;
    padding-top: 15px;
}